<nav class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
	  <div class="container">
		<div class="navbar-header">
		  <a href="#" class="navbar-brand">Home</a>
		  <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		</div>
		<div class="navbar-collapse collapse" id="navbar">
		  <ul class="nav navbar-nav">
			<li><a href="#sec1">Input</a></li>
			<li><a href="#sec2">Analytics</a></li>
			<li><a href="#sec3">Results</a></li>
			
		  </ul>
		</div>
	   </div>
	</nav>

	<div class="header alt vert">
	  <div class="container">
		
		<h1 class="heading">SAPS 2 VM</h1>
		  <p class="lead">Infranstructure Optimization Tool</p>
		  <div>&nbsp;</div>
		  <a href="#sec1" class="btn btn-default btn-lg">Get Started</a>
	  </div>
	</div>

	<hr>

	<div id="sec1" class="blurb">
		<h2 class="text-center">Input</h2>
	  <div class="container well well-lg">
		
		<div class="row" ng-controller="InputCtrl">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="panel-title text-center">Landscape<span class="resulttext"></span></h4>
         </a>
       
      
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    	<ul class="list-group">
    		<li class="list-group-item listitem" ng-repeat="landscape in landscapes" ng-click="setLandscape(landscape)">{{landscape.name}}</li>
    	</ul>
     
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="panel-title text-center">Catalog</h4>
        </a>
      
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <ul class="list-group">
    		<li class="list-group-item listitem" ng-repeat="catalog in catalogs" ng-click="setCatalog(catalog)">{{catalog.name}}</li>
    	</ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 class="panel-title text-center">SAP Products</h4>
        </a>
      
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <ul class="list-group">
    		<li class="list-group-item listitem" ng-repeat="product in products" ng-click="setProduct(product)">{{product.name}}</li>
    	</ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h4 class="panel-title text-center">Platform</h4>
        </a>
      
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <ul class="list-group">
    		<li class="list-group-item listitem" ng-repeat="platform in platforms" ng-click="setPlatform(platform)">{{platform.name}}</li>
    	</ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h4 class="panel-title text-center">Scale</h4>
        </a>
      
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" ng-init="scales=[1,2,3,4,5,6,7,8,9,10]">
      <ul class="list-group">
    		<li class="list-group-item listitem" ng-repeat="scale in scales" ng-click="setScale(scale)">{{scale}}</li>
    	</ul>
    </div>
  </div>

</div>
<button class="btn btn-primary pull-right" ng-click="calculate()"><a href="#sec2">Calculate</a></button>
			
		</div>
	  </div>
	</div>
	<hr>
	
	
	<div class="blurb" id="sec2" ng-controller="AnalyticsCtrl">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12 text-center">
			<h2>Analytics</h2>
				<table class="table table-condensed">
  					<thead>
  						<tr>
  							<th class="hidden-xs">Landscape</th>
  							<th class="hidden-xs">Catalog</th>
  							<th>SAP Product</th>
  							<th class="hidden-xs">Platform</th>
  							<th>Component</th>
  							<th class="hidden-xs hidden-sm">Scale</th>
  							<th>Server Details</th>
  							<th class="hidden-xs">No of Servers</th>
  							<th class="hidden-xs">vCPU</th>
  							<th class="hidden-xs">vRAM</th>
  							<th class="hidden-xs hidden-sm">Net IO</th>
  							<th class="hidden-xs hidden-sm">IOPS</th>
  							<th class="hidden-xs hidden-sm">vDisk</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr ng-repeat="data in analytics">
  							<td class="hidden-xs">{{data.landscape}}</td>
  							<td class="hidden-xs">{{data.catalog}}</td>
  							<td>{{data.product}}</td>
  							<td class="hidden-xs">{{data.platform}}</td>
  							<td><div ng-repeat="component in data.component">{{component.name}}</div></td>
  							<td class="hidden-xs hidden-sm">{{data.scale}}</td>
  							<td><div ng-repeat="server in data.serverdetails">{{server.name}}</div></td>	
  								
  							<td class="hidden-xs">{{data.noservers}}</td>
  							<td class="hidden-xs">{{data.vCPU}}</td>
  							<td class="hidden-xs">{{data.vRAM}}</td>
  							<td class="hidden-xs hidden-sm">{{data.netio}}</td>
  							<td class="hidden-xs hidden-sm">{{data.iops}}</td>
  							<td class="hidden-xs hidden-sm">{{data.vDisk}}</td>
  						</tr>
  					</tbody>
				</table>
		  </div>
		</div>
	  </div>
	</div>

	<hr>

	<div class="blurb bright">
	  
	  <div class="row">
		  <div class="col-md-6 col-md-offset-3 text-center">
			<h3 id="sec3">Results</h3>
			<br>
			<table class="table table-condensed">
				<tr>
					<td>
						Total No of Physical Servers for Virtualization
					</td>
					<td>
						0
					</td>
				</tr>
				<tr>
					<td>
						Include Failover Capacity
					</td>
					<td>0
					</td>
				</tr>
				<tr>
					<td>
						No of Physical Servers Opted
					</td>
					<td>0
					</td>
				</tr>
				<tr>
					<td>
						Total Physical Servers
					</td>
					<td>0
					</td>
				</tr>
			</table>
		  </div>
	  </div>
	  
	  
	  </div>
	</div>
	<ul class="nav pull-right scroll-down">
	  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
	</ul>
	<ul class="nav pull-right scroll-top">
	  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
	</ul>